@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

body {
  width: 681px;
  height: 480px;
  margin: 0px;
}

#header {
  background-color: yellow;
  text-align: center;
  height: 30px;
}

#group_l {
  float: left;
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
}

#group_r {
  float: left;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
}

#group_split {
  float: left;
  background: #888;
  width: 1px;
  height: 420px;
}

#footer {
  background-color: yellow;
  text-align: center;
  clear: both;
  height: 30px;
}